*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    display:block;
    height:100vh;
    transition: all 0.5s linear;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
    font-weight: 100;
/*     background: linear-gradient(to bottom, black 40%, rgba(0,0,0,0) 100%); */
    background: linear-gradient(to bottom, white 50%, transparent 100%);
}

.logo{
    color: white;
    font-size: 48px;
    text-shadow: 1px 1px 2px black;
}

.navbar a{
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.connect{
    font-size: 24px;
    cursor: pointer;
}

.carousel{
    display: flex;
    width: 100%;
    padding: 5px;
/*     background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, black 60%); */
        background: linear-gradient(to bottom, transparent 0%, white 50%);

    justify-content: flex-end;
}

.bg{
    background-image: url('images/bedroom_office.jpg');
}

.image_preview{
    width: 100px;
    height: 75px;
    padding: 5px; 
    border-radius: 10px;
    cursor: pointer;
}

.container-outer { 
    overflow: scroll; 
    width: 300px; 
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}
.container-inner { width: 625px; }

.container-outer::-webkit-scrollbar { 
    display: none;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.loading-logo{
    font-size: 84px;
    padding: 18px;
}

@media screen and (max-width: 600px) {
    .navbar{
        padding: 15px 15px;
    }
    .logo{
        font-size: 36px;
    }
    
    .connect{
        font-size: 24px;
    }
  }
